<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="photo">
          <img
            src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
            alt="profile_picture"
            width="100"
            height="100"
          />
          <p>ADMIN</p>
        </div>
        <div class="nav_elements">
          <a href="/studentprofile" class="active">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="item">Profile</span>
          </a>
          <a href="/register">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">Register</span>
          </a>
          <a href="/contact">
            <span class="icon"><i class="fas fa-user-shield"></i></span>
            <span class="item">Admin</span>
          </a>
          <a href="/">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item">Logout</span>
          </a>
        </div>
      </nav>
      <div class="main_section">
        <form action="/register" method="post">
          <label for="NAME"> NAME </label> <br>
          <input type="text" name="NAME" id="NAME"/> <br>
          <label for="MAIL"> MAIL </label><br>
          <input type="MAIL" name="MAIL" id="MAIL"/> <br>
          <label for="UNAME"> UNAME </label><br>
          <input type="text" name="UNAME" id="UNAME"/> <br>
          <label for="PASSWD"> PASSWD </label><br>
          <input type="text" name="PASSWD" id="PASSWD"/> <br>

          <label for="ROLE"> ROLE </label> <br>
          <select id="ROLE" name="ROLE"> <br>
            <option value="5"> SELECT </option>
            <option value="Stude"> STUDENT </option>
            <option value="Facul"> FACULTY </option>
            <option value="Admin"> NEW ADMIN </option>
          </select> <br>

          <button class="btn btn-primary" style="margin-top:20px;"> SUBMIT </button>

          <h2 style="margin-top:25px; text-align: justify;"> {{ message2 }} </h2>
                  
        </form>

      </div>
    </div>
  </body>
</html>
